html, body {
  min-width: 360px;  /* Prevents shrinking beyond 360px */
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
}

.Hero {
  background-image: url('assets/images/templatemo-wave-banner.jpg');
  height: 550px;
  align-items: center;
}

.hero-text{
  text-align: center;
  width: 100%;
  padding-top: 200px;
  font-size: 60px;
}

.hero-text-description{
  text-align: center;
  font-size: 18px;
}
.hero-button-area{
  text-align: center;
  margin-top: 20px;
}
.hero-button {
  background-color: #0d6efd;
  padding: 10px 30px;
  color: #FFF;
  border-radius: 40px;
  font-weight: 600;
  font-size: 18px;
  border-color: transparent;
}
.hero-button:hover {
  background-color: #20c997;
}

.text-white{
  color: #FFF;
}


.footer {
  display: flex;
  background-image: url('assets/images/templatemo-wave-footer.jpg');
  background-size: cover;
  height: 600px;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  
}



.footer-top {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: space-around;
  color: #FFF;
  align-items:center ;
}

.footer-fieldset {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.footer-fieldset input {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #FFF;
}
.footer-fieldset .form-submit {
  background-color: #17dbf3f2;
  padding: 10px;
  color: #FFF;
  border: 1px solid #17dbf3f2;
  border-radius:  0 0 10px 10px;
  font-weight: 600;
  font-size: 18px;
}
.footer-legent {
  padding: 20px;
  
}

.footer-form {

  width: 33%;
  align-items: center;
}

.footer-contact {
  width: 33%;
  align-items: center;
  padding-left: 40px;
}

.footer-download {
  width: 33%;
  align-items: center;
}

.footer-store-block{
  margin-top: 15px;
}
.footer-store {
  width: 35%;
}

.footer-social {
  margin-top: 15px;
}



/***Common Classes ***/

.d-flex-x {
  display: flex;
  gap: 30px;
}
.d-flex-y {
  display: flex;
  flex-direction: column;
  gap: 30px;
}